.navbar {
  // height: 70px;
  width: 100%;
  top: 0;
  display: flex;
  z-index: 1000;
  background-color: #fff;
  position: fixed;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  .logo-container {
    display: flex;
    justify-content: left;
    padding: 25px;
    .logo {
      width: 150px;
    }
  }
  .midTab {
    height: 45px;
    border: 1px solid #dddddd;
    border-radius: 2em;
    padding: 0 10px;
  }

  .host {
    display: flex;
    border-radius: 50px;
    height: 40px;
    margin-top: 7px;
    font-weight: bold;
  }
}
