.navbar {
  // height: 70px;
  width: 100%;
  top: 0;

  display: flex;
  z-index: 1000;
  background-color: #fff;
  position: fixed;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  // border-bottom-width: 80px;

  .host {
    display: flex;
    border-radius: 50px;
    height: 40px;
    margin-top: 7px;
    font-weight: bold;
  }
}
