.navbar {
  height: 70px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-bottom: 1px solid #ebebeb;
  .logo-container {
    display: flex;
    justify-content: left;
    padding: 25px;
    .logo {
      width: 150px;
    }
  }
  .midTab {
    height: 45px;
    margin-top: 7px;
    border: 1px solid #ebebeb;
    border-radius: 2em;
    padding: 0 10px;
  }
}
