.detailPage {
  max-width: 90%;
  margin: auto 2%;
  padding: 80px 0px 15px 70px;

  .detail {
    display: flex;
    font-size: 20px;
    align-items: center;
  }
  .rating-and-btns {
    display: flex;
    justify-content: space-between;

    .rating-details {
      display: flex;
      font-size: 14px;
      align-items: center;

      .rating {
        display: flex;
        align-items: center;
      }
    }

    .link {
      color: black;

      font-weight: 500;
    }
  }
  .pictures {
    // height: 70px;
    display: flex;
    width: 100%;
    // max-width: inherit;
    padding-top: 24px;
    .feature-image {
      display: flex;
      height: 250px;
      width: 1050px;
    }
  }
}
