.container {
  //   margin-left: 100px;
  display: flex;
  align-items: center;
  padding: 100px 10px 130px 30px;

  justify-content: space-between;
  height: 90px;

  .links {
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }

  // margin-bottom: 20px;
  .placeContainer {
    height: 230px;
    width: 290px;
    border-radius: 18px;
    // max-width: 90%;

    .downwardTexts {
      justify-content: space-between;
    }

    .image {
      height: 120px;
      width: 130px;
      border-radius: 18px;
    }
  }
}
