.content {
  .deals {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // .place-container {
    //   display: flex;
    //   height: 40px;
    // }
  }

  .hot-deals {
    padding: 50px 80px 20px 80px;
    font-weight: bold;
    border-bottom: 1px dotted #ebebeb;
    width: 100%;
  }
}
